.navbar {
  font-family: var(--font-family-montserrat);
  z-index: 1 !important;
  font-weight: 600 !important;

  .main-tabs {
    :hover {
      color: #c5a572 !important;
    }
  }

  .nav-link {
    margin: 0px;
    padding: 0px 18px 0px 18px !important;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white) !important;
  }

  .nav-link.active {
    color: var(--darkkhaki) !important;
  }

  .btn-outline-darkkhaki {
    color: #c5a572;
    border-color: #c5a572;
    font-size: 12px;
    padding: 8px 17px 8px 17px !important;
    border-radius: 0;
    border-width: 1px;
    font-weight: 600 !important;
    :hover {
      color: var(--white) !important;
    }
  }

  .btn-outline-transparent {
    color: var(--white) !important;
  }
}

@media only screen and (min-width: 769px) {
    .navbar {
        height: 99px;
        .nav-link {
            line-height: 99px !important;
          }
    }
}