.menu-jumbotron {
  padding-top: 90px;
  padding-bottom: 70px;
  margin-bottom: 0;
  font-family: 'Montserrat', Tahoma, Geneva, sans-serif;
  .menu-container {
    .container-body {
      .menu-header{
        text-align: center;
        h4{
          font-weight: 600;
          font-size: 1rem;
        }
        h2{
          font-family: var(--font-family-bellefair);
          font-weight: 400;
          font-size: 3rem;
        }
        .divider{
          & .line {
            border-bottom: 1px solid var(--darkkhaki);
          }
          .icon{
            margin: 0;
          }
        }
      }
      .navs-container {
        font-size: 1em;
        .nav {
          .nav-item {
            text-align: center;
            // width: 75%;
            .nav-link {
              border: none;
              box-shadow: 0 0 6px 0 rgba(26, 42, 58, 0.03);
              font-size: 16px;
              color: #666;
              font-weight: 500;
              &.active {
                background: var(--darkkhaki) !important;
              }
              p {
                color: #1b2c3d;
                font-size: 17px;
                line-height: 24px;
                margin-left: 0;
              }
            }
            .nav-link:hover {
              background: var(--darkkhaki) !important;
            }
          }
        }
      }
      .menu-body {
        .row {
          .media {
            img {
              border: 5px solid var(--white);
              box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
            }
            .media-body {
              line-height: 26px;
              h5 {
                border-bottom: 1px dashed #cdcdcd;
                font-size: 24px;
              }
              p {
                color: #4d5257;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .menu-container {
    .container-body {
      .navs-container {
        margin: auto !important;
        .nav {
          .nav-col {
            margin-bottom: 2rem;
            .nav-item {
              width: auto !important;
              margin: auto !important;
            }
          }
        }
      }
      .menu-body {
        .row {
          width: 100%;
          margin: auto;
          .media {
            align-items: center;
            img {
              margin: 0 !important;
            }
            .media-body {
              width: auto;
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .menu-container {
    .container-body {
      .navs-container {
        margin: auto !important;
        .nav {
          .nav-col {
            margin-bottom: 1rem;
            .nav-item {
              width: auto !important;
              margin: auto !important;
            }
          }
        }
      }
      .menu-body {
        .row {
          width: 100%;
          margin: auto;
          .media-col {
            padding: 0;
            .media {
              flex-direction: column;
              align-items: center;
              img {
                margin: 0 !important;
                width: 100%;
                height: auto;
              }
              .media-body {
                width: 100%;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .menu-container {
    padding: 0 !important;
  }
}
