@import '../public/assets/custom.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #4d5257;
}

.btn, button {
  outline: none !important;
  box-shadow: none;
  :focus {
    box-shadow: none;
    outline: none;
  }
}

a {
  outline: none;
}
